td.label {
	text-align: right;
}
td.button {
	text-align: center;
}

html body {
  padding: 0;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}