<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/simple.xhtml">      

    <ui:define name="header">
        <h1>Welcome to the sample JSF/CDI application</h1>
    </ui:define>

    <ui:define name="content">

        <h1>SRS - Student Registration System</h1>
        <p>
            <h3>Please choose your action and click "Perform" button to execute or "Reset" to start over
            </h3>
        </p>

        <h:form id="form1">
            <h:outputLabel value="Options:" for="opt"/>
    
            <h:selectOneRadio id="opt" value="#{actionBean.actionOption}">
    
                <f:selectItem id="withdraw" itemLabel="Withdraw From The Course" 
                              itemValue="1"/>
                <f:selectItem id="register" itemLabel="Register To The Course" 
                              itemValue="2" />
            </h:selectOneRadio>
            
            <p><h:commandButton id="submit" value="Perform"
                                action="#{actionBean.doIt}" /></p>
            <p><h:commandButton value="Reset" 
                                action="#{actionBean.reset}" /></p>

          <h:message styleClass="informationMessage" for="form1"/>
        </h:form>

    </ui:define>

    <ui:define name="footer">

        <ui:insert name="footer">
        </ui:insert>

    </ui:define>

</ui:composition>

</html>