<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
        <h:outputStylesheet library="css" name="default.css"/>
        <title>SRS - Student Registration System</title>
</h:head>

<ui:composition template="/WEB-INF/templates/simple.xhtml">      

    <ui:define name="title">
        Welcome to the sample application
    </ui:define>

    <ui:define name="content">

        <h1>SRS - Course Registration Results</h1>
         
        <h3>You are registered to the following course: #{coursesBean.courseTitle}</h3>

        <h:form>

            <p><h:commandButton id="back" value="Back to Main page" action="index" /></p>
            <h:message styleClass="informationMessage" for="form1"/>

        </h:form>

    </ui:define>

</ui:composition>

</html>
