<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >

<ui:composition template="/WEB-INF/templates/simple.xhtml">      
    <ui:define name="title">
        Welcome to the sample application
    </ui:define>
    <ui:define name="content">

        <h1>SRS - Registration to the Course</h1>
  
        <h:form>
            <br/>
            <h:selectOneMenu value="#{coursesBean.courseTitle}">
                <f:selectItems value="#{coursesBean.courseTitleValue}" />
            </h:selectOneMenu>
            
            <br/><br/>


            <br/>
            
            <h:commandButton value="Submit" action="reg_result"/>
            <h:commandButton value="Reset" type="reset"/>

            <h:message styleClass="informationMessage" for="form1"/>

        </h:form>

    </ui:define>

</ui:composition>   

</html>