<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >

<ui:composition template="/WEB-INF/templates/simple.xhtml">      
    <ui:define name="title">
        Welcome to the sample application
    </ui:define>
    <ui:define name="content">

        <h1>SRS - #{actionBean.actionOption} the Course</h1>
  
        <h:form>
        
            <br/>
            <h:selectOneMenu value="#{coursesSupportBean.courseTitle}">
                <f:selectItems value="#{coursesSupportBean.courseTitleValue}" />
            </h:selectOneMenu>
            <br/>
            <br/>
            <br/>
			<h:commandButton value="Submit" action="#{actionBean.doIt(regBean, coursesSupportBean)}" />                         
            <h:commandButton value="Reset" type="reset"/>
            <h:message styleClass="informationMessage" for="form1"/>

        </h:form>
		<br/>
		<p><a class="btn" href="home.jsp"><button type="button">Home</button></a> <a class="btn" href="logout.jsp"><button type="button">Logout</button></a></p>
    </ui:define>

</ui:composition>   

</html>