<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/simple.xhtml">      

    <ui:define name="header">
        <h1>Welcome to the sample JSF/CDI application</h1>
    </ui:define>

    <ui:define name="content">

        <h1>SRS - Student Registration System</h1>
        <h3>Please choose your action and click "Perform" button to execute or "Reset" to start over</h3>

        <h:form id="form1">
            <h:outputLabel value="Options:" for="opt"/>
    
            <h:selectOneRadio id="opt" value="#{actionBean.actionOption}">
    
                <f:selectItem id="withdraw" itemLabel="Withdraw From The Course" 
                              itemValue="Withdraw from "/>
                <f:selectItem id="register" itemLabel="Register To The Course" 
                              itemValue="Register to " />           
            </h:selectOneRadio>
            
            <p><h:commandButton id="submit" value="Submit" action="reg_page" />
                                
			</p>

          <h:message styleClass="informationMessage" for="form1"/>
        </h:form>
	<br/>
    <p><a class="btn" href="home.jsp"><button type="button">Home</button></a> <a class="btn" href="logout.jsp"><button type="button">Logout</button></a></p>
            
    </ui:define>

    <ui:define name="footer">

        <ui:insert name="footer">
        </ui:insert>

    </ui:define>

</ui:composition>

</html>