@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

h1, p, body, html {
    margin: 0;
    padding: 0;
}

#content {
    margin:5px; 
}

body {
    background-color:#EEEEEE; 
}

#container {
    width:100%;
}

#header, #footer { 
   background-color: gray;  
   line-height: 50px;
   width:100%;
   text-align: center;
   vertical-align: middle;
}

#header h1 {
    margin-bottom: 0px;
} 

#content {
    float:left;
    width:100%;
    height: 300px;
}

#footer {
    line-height: 50px;
    text-align:center;
    color: white;
    bottom : 0;    
}

.errorMessage {
    color: red;
}

.informationMessage {
    color: green;
}

td.label {
	text-align: right;
}
td.button {
	text-align: center;
}

html body {
  padding: 0;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

table.status {
  border-collapse: collapse;
  text-align:center;
}

table.status, .status td, .status th {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
}

td.className {
  text-align: left;
}
